@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

@font-face {
  font-family: 'Nickainley';
  src: url('/fonts/Nickainley-Normal.otf');
 }

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100vh;
  flex-wrap: wrap;
}

.gutterLeft {
  background-image: url('/backgroundLeft.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 15%;
  height: 100vh;
}

.gutterRight {
  background-image: url('/backgroundRight.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 15%;
  height: 100vh;
}

.main {
  padding: 1%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  background-color: black;
  height: 95%;
}

.footer {
  width: 100%;
  height: 5vh;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.bannerImgLeft {
  width: 20vw;
  height: auto;
  flex-grow: 1;
  max-width: 300px;
}

.bannerImgRight {
  width: 20vw;
  height: auto;
  flex-grow: 1;
  max-width: 300px;
  transform: scaleX(-1);
}

.bannerTitle {
  width: 30vw;
  max-width: 500px;
  height: auto;
  flex-grow: 1;
  align-self: flex-end;
}

.title {
  color: #f9be94;
  margin: 0;
  line-height: 1.15;
  font-size: 15rem;
  font-family: "Nickainley", cursive;
}

.title,
.description {
  text-align: center;
}

.subtitle {
  color: #83b9e7;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: "Quicksand";
  width: 100%;
  text-align: center;
}

.footerText {
  color: #83b9e7;
  line-height: 1.5;
  font-size: 1.75rem;
  font-family: "Nickainley", cursive;
  text-align: center;
}

.description {
  color: #83b9e7;
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: "Nickainley", cursive;
  width: 100%;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  height: auto;
}

.dropDowns {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80vw;
  max-height: 50vh;
}

.gridTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100vw;
  margin-top: 1.5rem;
  height: 20%;
}

.gridTitleSmall {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 15vh;
}


.column {
  width: 33%;
}

.info {
  color: #f7d9ca;
  font-size: 1.25rem;
  font-family: "Quicksand";
  width: 80%;
}

.bookingInfo {
  font-family: "Quicksand";
  width: 80%;
  margin: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


